.user_dashboard {
    padding-top: 140px;
    padding-bottom: 127px;

    @media(max-width: 768px) {
        padding-top: 96px;
        padding-bottom: 88px;
    }

    .dashboard_container {
        .dashboard_wrapper {
            .heading {
                h1 {
                    margin-top: 0;
                }
            }

            .offer_info {
                padding-top: 48px;

                &::-webkit-scrollbar {
                    width: 5px;
                    height: 4px;
                    border-radius: 32px;
                }
            }
        }
    }
}