.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.entry-content {
	margin: auto;
	max-width: 1216px;
	width: 100%;
	padding-bottom: 32px;
	padding-left: 20px;
	padding-right: 20px;
}
