
// Backgrounds
$color__background_body: #253942;
$color__background_input: #ffffff;
$color__background_screen: #f1f1f1;
$color__background_hr: #ccc;
$color__background_button: #58F048;
$color__background_button_hover: #58F048;
$color__background_pre: #eee;
$color__background_ins: #fff9c0;

// Text
$general_black: #000;
$color__text_main: #ffffff;
$color__text_link: #58F048;
$color__text_light: #767676;
$color__text_screen: #21759b;
$color__text_input: #666;
$color__text_input-focus: #111;
$color__text_hover: #253942;

// Links
$color__link: #58F048;

// Borders
$color__border: #ccc;
$color__border_link: #58F048;
$color__border_button: #58F048;
$color__border_button-hover: #ccc #bbb #aaa;
$color__border_button-focus: #aaa #bbb #bbb;
$color__border_input: $color__border;
$color__border_abbr: #666;
