// Hero Section
.hero-home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    
    background: $primary-500-main;

    @media(max-width: 767px) {
        border-radius: 12px;
        height: auto;
    }

    .hero_container {
        background-image: url(./images/hero-bg-overlay.png);
        background-position: initial;
        background-repeat: no-repeat;
        background-size: inherit;

        @media(max-width: 767px) {
            background-image: url(./images/mobile-hero-bg-overlay.png);
            background-position: right top;
            background-repeat: no-repeat;
            background-size: inherit;
        }
    }

    .hero_container,
    .hero_container:nth-child(2) {
        display: flex;
        justify-content: space-between;
        // margin: auto;
        min-height: 618px;
        height: auto;

        @media(max-width: 767px) {
            flex-direction: column;
            min-height: 0;
            padding-top: 40px;
        }

        .hero_content {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media(max-width: 767px) {
                width: 100%;
            }
            
            .content_wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding-left: 180px;
                margin: auto;
                padding-right: 30px;

                @media(max-width: 1300px) {
                    padding-left: 67px;
                }

                @media(max-width: 1230px) {
                    padding-left: 35px;
                }

                @media(max-width: 1100px) {
                    padding-left: 24px;
                }

                @media(max-width: 767px) {
                    gap: 24px;
                    padding: 0 20px 32px 20px;
                }
                
                .support_text {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: $primary-50;
                    margin-bottom: 12px;
                }

                .heading_text {
                    font-family: $font__space-grotesk;
                    font-size: $font__space-grotesk-size;
                    font-style: $font__space-grotesk-style;
                    font-weight: $font__space-grotesk-weight;
                    line-height: 44px;
                    letter-spacing: -0.72px;
                    color: $neutral-50;
                    margin-bottom: 24px;

                    @media(max-width: 767px) {
                        font-size: $font__space-grotesk-size - 4;
                        line-height: 40px;
                        letter-spacing: -0.64px;
                    }
                }

                .sub_heading {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    color: $neutral-50;
                    margin-bottom: 40px;
                }

                .support_text,
                .heading_text,
                .sub_heading {
                    width: 100%;
                    height: auto;

                    @media(max-width: 767px) {
                        padding: 0;
                        margin: 0;
                    }
                }

                .hero_btn {
                    text-decoration: none;
                    background: $primary-50;
                    color: $primary-500-main;
                    border-radius: 6px;
                    padding: 12px 20px;
                    // max-width: 150px;
                    width: max-content;

                    @media(max-width: 767px) {
                        max-width: 100%;
                        text-align: center;
                        margin-top: 12px;
                    }
                }
            }
        }
    }

    .hero_container {
        .feature_content {
            width: 50%;
            background-image: url(./images/telescope.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: end;

            @media(max-width: 767px) {
                width: 100%;
                background-image: none !important;
                padding: 0 20px;
                margin-bottom: 40px;
            }

            .feature {
                display: flex;
                flex-direction: column;
                padding: 16px 20px;
                gap: 12px;
                opacity: 0.9;
                background: $neutral-50;
                margin-top: auto;
                width: 100%;

                @media(max-width: 767px) {
                    border-radius: 4px;
                }

                .feature_heading{
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: $primary-500-main;

                    @media(max-width: 767px) {
                        padding: 10px 0;
                    }
                }
            }
        }
    }

    .hero_container:nth-child(2) {
        flex-direction: row-reverse;
        background: $neutral-100;

        @media(max-width: 767px) {
            flex-direction: column;
            padding-top: 0px;
        }

        background-position: right 550px bottom;
        background-repeat: no-repeat;
        background-size: inherit;

        @media(max-width: 767px) {
            background-position: bottom -368px right -269px;
        }

        .hero_content {
            overflow: hidden;
            .content_wrapper {
                position: relative;
                padding-left: 32px;
                padding-right: 100px;
                z-index: 1;

                @media(max-width: 767px) {
                    padding: 32px 20px;
                }

                .support_text {
                    color: $primary-500-main;
                }

                .heading_text {
                    color: $neutral-900;
                }

                .sub_heading {
                    color: $neutral-700;
                }

                .hero_btn {
                    background: $primary-500-main;
                    color: $white;
                }
            }

            .gray-image {
                position: absolute;
                width: 663px;
                z-index: 0;
                margin-top: 281px;
                margin-left: -980px;

                @media(max-width: 767px) {
                    bottom: -196px;
                    right: -140px;
                }
            }
        }
        
        .feature_content {
            background-image: url(./images/Image.png);
            z-index: 1;
            @media(max-width: 767px) {
                background-image: none !important;
            }
        }
    }
}
// End of hero section

// Benefit
.benefit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 64px 20px;
    background: $white;

    @media(max-width: 767px) {
        padding: 32px 16px;
    }

    .benefit_container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 1216px;
        width: 100%;
        margin: auto;

        .feature_heading {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $primary-500-main;
            margin-bottom: 12px;
        }

        .main_benefits_heading {
            font-family: $font__space-grotesk;
            font-size: $font__space-grotesk-size;
            font-style: $font__space-grotesk-style;
            font-weight: $font__space-grotesk-weight;
            line-height: 44px;
            letter-spacing: -0.72px;
            color: $neutral-900;
            margin-bottom: 48px;

            @media(max-width: 991px) {
                margin-bottom: 24px;
            }
        }

        .benefits_list {
            width: 100%;
            display: flex;
            gap: 32px;

            @media(max-width: 991px) {
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 24px;
            }

            .item {
                max-width: 384px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 24px;

                @media(max-width: 991px) {
                    padding: 0 20px;
                }

                @media(max-width: 832px) {
                    max-width: 100%;
                }

                @media(max-width: 500px) {
                    padding: 0;
                }
            }
        }
    }
}
// End of benefit

// About feature
.about_feature {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 64px 20px;
    background: $neutral-50;

    @media(max-width: 767px) {
        padding: 32px 16px;
    }

    .about_feature-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 1216px;
        width: 100%;
        margin: auto;
        gap: 48px;

        .about {
            width: 100%;
            height: 500px;
            overflow: hidden;
            border-bottom: 1px solid $neutral-300;

            display: flex;
            flex-direction: row-reverse;
            gap: 32px;

            @media(max-width: 767px) {
                align-items: center;
                flex-direction: column;
                height: 900px;
            }

            .about_image {
                max-width: 592px;;
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                }
            }

            .about_content {
                max-width: 496px;
                width: 100%;
                margin: auto;
                display: flex;
                flex-direction: column;
                gap: 32px;

                padding: 40px 48px;
                border-radius: 16px;
                background: $white;

                @media(max-width: 767px) {
                    max-width: 100%;
                    padding: 24px 16px;
                    gap: 16px;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    @media(max-width: 767px) {
                        gap: 16px;
                    }

                    .about_header {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: $primary-500-main;
                    }

                    .about_title {
                        font-family: $font__space-grotesk;
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 44px;
                        letter-spacing: -0.72px;
                    }

                    .about_subtext {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: $neutral-800;
                    }
                }

                .about_read-more {
                    display: flex;
                    padding: 12px 20px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 6px;
                    background: $primary-50;
                    max-width: 122px;
                    width: 100%;
                    text-decoration: none;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    color: $primary-500-main;
                }
            }
        }

        .feature_container {
            .feature-list {
                padding-bottom: 0;
                padding-top: 0;
            }
        }
    }
}
